  <!DOCTYPE html>
  <html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <div class="container">

            <div class="collection">
                <% unicorns.forEach(function(unicorn) { %>
                    <a href="/unicorns/<%= unicorn.id %>" class="collection-item"><%= unicorn.name %></a>
                <% }); %>
            </ul>

        </div>
    </body>
  </html>