<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>

    <body>
        <% include ../partials/nav %>
        <div class="container">
            <% include ../partials/flash %>
            <% include ../partials/form %>
        </div>

        <script type="text/javascript">
            $(document).ready(function() {
                $('.datepicker').pickadate();
            });
        </script>
    </body>
</html>